body {
font-family: helvetica;
font-size: 22px;
color: white;
}

.uppermenu {
position: absolute;
right: 10px;
top: 2px;

}

.topicsTable {
width: 70%;
border-collapse: collapse;
margin: auto;

}

.topicsTable tr {
cursor: pointer;
}
.topicsTable tr:nth-child(even) {
background-color: #d6d6c2;
}

.topicsTable tr:hover {
background-color: #cce6ff;

}
.topicsTable th {

font-size: 1.4rem;
color: black

}
.topicsTable th {
border: 2px solid black;

padding: 15px;
    text-align: left;
	background-color: #ff9966;

}
.topicsTable td {
border: 2px solid black;
padding: 15px;
    text-align: left;
	color: black
}

.postTable {
width: 70%;
border-collapse: collapse;
margin: auto;
}

.postTable tr:nth-child(even) {
background-color: #d6d6c2;
}

.postTable tr:hover {
background-color: #cce6ff;

}
.postTable th {

font-size: 1.4rem;
background-color: #ff9966;
color: black
}
.postTable th{
border: 2px solid black;
padding: 15px;
    text-align: left;
}
.postTable td {
border: 2px solid black;
padding: 15px;
    text-align: left;
	color: black
}

#about, #info {
    padding: 6px;
    text-align: center;
    background-color: #009933;
    border: dashed 2px black;
	
	width: 60%;
	margin: auto;
	font-size: 30px;
	
	
}

#info {
    
    display: none;
}