body {
font-family: helvetica;
font-size: 22px;
color: white;
background-color: #d6d6c2;
}

h1 {
text-align: center;
}

.uppermenu {
position: absolute;
right: 10px;
top: 40px;

}

.topicsTable {
width: 70%;
border-collapse: collapse;
margin: auto;

}

.topicsTable tr {
cursor: pointer;
}
.topicsTable tr:nth-child(even) {
background-color: #d6d6c2;
}

.topicsTable tr:hover {
background-color: #cce6ff;

}
.topicsTable th {

font-size: 1.4rem;
color: black

}
.topicsTable th {
border: 2px solid black;

padding: 15px;
    text-align: left;
	background-color: #ff9966;

}
.topicsTable td {
border: 2px solid black;
padding: 15px;
    text-align: left;
	color: black
}

.postTable {
width: 70%;
border-collapse: collapse;
margin: auto;

}

.postTable tr:nth-child(even) {
background-color: #d6d6c2;
}

.postTable tr:hover {
background-color: #cce6ff;

}
.postTable th {

font-size: 1.4rem;
background-color: #ff9966;
color: black
}
.postTable th{
border: 2px solid black;
padding: 15px;
    text-align: left;
}
.postTable td {
border: 2px solid black;
padding: 15px;
    text-align: left;
	color: black
}

#about, #info {
    padding: 3px;
    text-align: center;
    background-color: #009933;
    border: dashed 2px black;
	
	width: 60%;
	margin: auto;
	font-size: 30px;
	
	
}

#about {
margin-top: 60px;
}

#info {
    
    display: none;
}


.blue {
width: 20%;
}
.yellow {
width: 20%;
}
/* This idea to keep footer at the bottom is from a user Chris Bracco at https://codepen.io/cbracco/pen/zekgx */ 
.footer {
  position: absolute;
  
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  }
  
#create {
margin-left: 10px;
} 
  
  
  
  
  
  